body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
}
h2{
  color: #fff;
  display:flex;
}
.button-container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 75vh;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    background-color: #000;
  color: white;
}

.record-container{
  height: 50vh;
  overflow-y: auto;
  width: 25vh;
}

.time-color {
    color: #FF5733;
}

ul {
    list-style-type: none;
    padding: 5;
    margin-top: 20px;
    align-items: right;
  color: black;
}

li {
    font-size: 0.5em;
    color: white;
    background-color: #000;
    border: 1px solid white;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
